<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p>Clique <a href="/gossips/new">ici</a> pour créer un potin ;)</p>
    <h3>Quel potin veux-tu afficher ? Clique sur son numéro !</h3>
        <% gossips.each_with_index do |gossip,index| %>
        <p>Potin <a href="/gossips/<%= index %>/"> n°<%= index %></a> par <i><%= gossip.author %></i>, la grosse balance </p>
      <% end %>
  </body>
</html> 