<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip!</h1>
    <p>Tu peux enfin écrire des potins !</p>
    <a href="http://localhost:4567/gossips/new/">Clique donc ICI</a>

    <% i = 1 %>
    <% gossips.each do |gossip| %>
        <p>
          <a href="/gossips/:id/<%= (i-1) %>"><%=i%>.</a> <%= gossip.author %> - <%= gossip.content %> 
        </p>
      <% i += 1%>
      <% end %>
  </body>
</html>