<html>        
  <title>Page Potin <%= params['id'].to_i + 1 %> </title>
     <body>
        <h1>Gossip n° <%= params['id'].to_i + 1 %></h1>
          
          <p>Son auteur : <%= gossip.author %><br/>
          Le contenu du potin : <%= gossip.content %>
          </p>

        <a href="/">Revenir à la page d'accueil</a>
      <% end %>
    </body>
</html>


