<html>
  <head>
    <title>Page potin</title>
  </head>
  <body>
    <h2>Voici la page du potin n° <%= id %> </h2>
    <h3> Son auteur  : <%= gossip.author %> </h3>
    <h3> Son contenu : <%= gossip.content %> </h3>
    <p>Clique <a href="/">ici</a> pour revenir au menu des potins</p>
  </body>
</html> 
